---
title: "About"
layout: "layout.liquid"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body id="design">

    <article>
        <h1 id="abthead">{{ title }}</h1>
        <div id="artpost">
            {{ content }}
        </div>
    </article>
</body>
</html>