---
title: Interstellar Exploration
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
    <header>
        <h1>Explorer's Blog</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/Blog 1/">log</a>
            <a href="/Blog 2/">log 2</a/
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>© 2025 Interstellar Logs</p>
    </footer>
</body>
</html>
